html {
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body, h2, h1, h3, h4, p, a, img, div, textarea, input, ul, li, i, span, footer, header,select,button{
  padding: 0;
  margin: 0;
}

body {
  font-family:"Microsoft YaHei",Arial,Tahoma, Helvetica;
  background: #f2f2f2!important;
  color: #333;
  font-size: 12px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

i, em {
  font-style: normal;
}

h2, h1, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, li {
  list-style: none;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="checkbox"], button {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}

textarea, input, select {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border-color: transparent;
}
button{border: none;}
a, button, input, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*清除浮动*/
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.white{height:100%;background: #fff;}
.bottom-distance{
  padding-bottom: 60px;
}
.page-about .yd-navbar:after{
  border-bottom: none;
}
.page-about .yd-navbar{
  /*background:rgba(0,0,0,.8)!important;*/
  background: #000000cc!important;
  height: 45px!important;
  font-size: 15px;
}
.page-about .yd-navbar-center-box{
  height: 45px!important;
  color: #fff;
}
.page-about .yd-navbar-center-box .yd-navbar-center-title{
  font-size: 15px!important;
  color: #fff!important;
}
.yd-tabbar .yd-tabbar-txt{font-size: 13px;}

/*登录*/
.login-box{
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.login-banner{
  width: 100%;
  text-align: center;
  margin: 20px 0 30px;
}
.login-banner img{
  width: 128px;
}
.login-form .login-list{
  border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  box-shadow:0 0 15px rgba(153,153,153,.3);
  background: #fff;
}
.login-list li{
  padding: 16px 0;
  margin: 0 15px;
  display: flex;
  align-items: center;
}
.login-list li:not(:last-child){border-bottom: 1px solid #eee;}
.login-list .yd-input-password:after{font-size: 20px;}
.login-list .icon {
  margin-right: 10px;
  width: 19px;
  vertical-align: middle;
}
.login-list li input{
  font-size: 14px;
  color: #333;
  font-family:"Microsoft YaHei",Arial;
}
.login-list li input::-webkit-input-placeholder{
  font-size: 14px;
  color: #999;
  font-family:"Microsoft YaHei",Arial;
}
.login-list .right{
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.login-list .right .code{width: 140px;}
.login-list .send-btn,.login-list .send-btn:active{
  background: transparent;
  color: #37A6F5;
  font-size: 14px;
  padding: 0;
  height: 23px;
}
.login-list .send-btn.yd-btn-disabled{
  color: #999;
}
.login-btn{
  background: #d9534f;
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 25px;
  display: block;
  width: 100%;
  z-index: 3;
}
.sign-btn{
  background: transparent;
  /*border:1px solid #37A6F5;
  color:#37A6F5;*/
  border: 1px solid #d9534f;
  color: #d9534f;
  margin-top: 15px;
}

/*首页*/

/*APP下载*/
.page-about{
  padding-top: 45px;
  height: 100%;
  box-sizing: border-box;
}
.slogon-footer {
  text-align: center;
  padding: 30px 0 20px;
}
.slogon-footer img{width: 60%;}

/*我的*/

/*积分兑换*/
.integral-top {
  font-size: 12px;
  padding: 14px 0 0;
  background: linear-gradient(top, #37A6F5, #8DCDFA);
  background: -webkit-linear-gradient(top, #37A6F5, #8DCDFA);
  background: -o-linear-gradient(top, #37A6F5, #8DCDFA);
  background: -moz-linear-gradient(top, #37A6F5, #8DCDFA);
  height: 190px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
}
.integral-top .total {
  text-align: center;
  font-size: 18px;
  margin: 12px 0;
}
.integral-top .total .number {
  font-size: 40px;
  color: #fff;
  margin: 0 15px;
}
.integral-top .total .duihuan{font-size: 16px;}
.my-form-box{margin: -42px 20px 20px;}
.my-form-box .my-form-list{
  padding: 10px 10px 20px;
  border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  box-shadow: 0 0 15px rgba(153,153,153,.3);
  background: #fff;
}
.my-form-list li{
  padding: 10px 0;
  margin: 0 10px;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
.my-form-list .icon {
  width: 40px;
  vertical-align: middle;
  font-size: 20px;
  display: inline-block;
  text-align: left;
  color: #ffa640;
}
.my-form-list li input,.login-list li input::-webkit-input-placeholder{
  font-size: 14px;
  color: #333;
  font-family:"Microsoft YaHei",Arial;
}
.my-form-list .right{
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.my-form-box .btn{
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 35px;
  display: block;
  width: 100%;
  border:1px solid #37A6F5;
  border-bottom: 2px solid #37A6F5;
  color:#37A6F5;
}
.btn-box{
  margin:35px 20px 10px;
}
.btn-box .btn{
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  width: 100%;
  border:1px solid #37A6F5;
  border-bottom: 2px solid #37A6F5;
  color:#37A6F5;
}

